image: node:16
stages:
  - deploy
  - confidence-check
  - test

deploy_terraform:
  stage: deploy
  script:
    # Your Review App deployment scripts - for a working example please check https://gitlab.com/Flockademic/Flockademic/blob/5a45f1c2412e93810fab50e2dab8949e2d0633c7/.gitlab-ci.yml#L315
    - echo

e2e:chrome:
  stage: confidence-check
  services:
    - selenium/standalone-chrome
  script:
    - npm install
    - npm run --rm --name selenium-docker -p 4444:4444

my_test:
  stage: test
  script:
    - yarn install
    - yarn test