name: Github Actions

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      TEST_BASE_URL: http://localhost:8080

    steps:
      - name: Install Chrome
        run: |
          sudo apt install libu2f-udev
          sudo apt-get install libappindicator1 fonts-liberation libgbm1 libgtk-3-0 xdg-utils
          export CHROME_BIN=/usr/bin/google-chrome
          wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
          sudo apt-get clean
          sudo apt-get update
          sudo apt-get install dpkg
          sudo dpkg -i google-chrome-stable_current_amd64.deb
          rm google-chrome-stable_current_amd64.deb
          google-chrome --version

      - name: Install/Update Chrome Driver
        run: |
          CHROME_DRIVER_VERSION=$(wget -qO- chromedriver.storage.googleapis.com/LATEST_RELEASE);
          echo $CHROME_DRIVER_VERSION;
          wget http://chromedriver.storage.googleapis.com/$CHROME_DRIVER_VERSION/chromedriver_linux64.zip
          unzip chromedriver_linux64.zip
          chmod +x chromedriver
          mkdir -p $HOME/.composer/vendor/bin
          mv -f chromedriver $HOME/.composer/vendor/bin/
          rm chromedriver_linux64.zip

      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Run Selenium Standalone server
        run: |
          wget https://github.com/SeleniumHQ/selenium/releases/download/selenium-4.4.0/selenium-server-4.4.0.jar
          java -jar selenium-server-4.4.0.jar -role node -hub http://localhost:4444         
      
      - name: Install
        run: yarn install
      - name: Configure nightwatch.conf.js for Github
        run: node webship-init -ci github -os linux -b chrome
      - name: Start virtual server
        run: |
            export NODE_OPTIONS=--openssl-legacy-provider
            yarn start &
      - name: Test
        run: yarn test